html{
  height:100%;
}
body{
  height:100%;
  background: linear-gradient(#49479a 70%, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.bodyclass{
  font-family: Arial;
  font-weight:bolder;
  margin-top: 13%;
  color:#ffffff;
}
.images{

}

img{
  width: 5%;
  padding:20px;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.myname{
  font-size:500%;
}
