html{
  height:100%;
}
body{
  height:81%;
  background: linear-gradient(#49479a 60%, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:Verdana;
  margin-top: 13%;
  color:#ffffff;
  overflow-x:hidden;
}

svg{
  width: 8%;
  padding:20px;
  transition:all 0.3s ease;

  -moz-animation: bounceInDown 1.4 0.3s;
  -webkit-animation: bounceInDown 1.4 0.3s;
  animation: bounceInDown 1.4s 0.3s;

}
svg:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
   transform: scale(1.3);

}
a{
  text-decoration: none;
  color: #ffffff;
}
.myname{
  font-weight:bolder;
  font-size:600%;

    /*-moz-animation: bounceInRight 2s;
    -webkit-animation: bounceInRight 2s;
    animation: bounceInRight 2s 0.3s;*/

    -moz-animation: rollIn 1.4 0.3s;
    -webkit-animation: rollIn 1.4 0.3s;
    animation: rollIn 1.4s 0.4s;

}
.images path{
  fill: #ffffff;
}
hr{
  margin-left: 27%;
  margin-right:27%;
  margin-bottom: -15px;
}
.animated fadeInUpBig{
    animation-delay:0.6s;
}
